{% extends "base.html" %}

{% block content %}
    <div class="grid">

      {% for event in events %}
      <div class="grid-item animated fadeIn
                  {% for tag in event.tags %}tag-{{ tag.title.lower().replace(' ', '_') }} {% endfor %}
                  {{ event.category }}"
           data-toggle="modal"
           data-target="#event-modal-{{ event.sys['id'] }}">

        <div class="header">
          <div class="date" data-date="{{event.start_time.strftime('%Y-%m-%d')}}">
            <p>{{ event.start_time.strftime('%a') }}</p>
            <p>{{ event.start_time.strftime('%d %b') }}</p>
          </div>
          <div class="category category-filter">
            <p data-category="{{ event.category }}">{{ event.category }}</p>
          </div>
        </div>

        <div class="details">
          <h2 class="max-lines">{{ event.event_title }}</h2>
          <p class="overflow-ellipsis">{{ event.description|e }} </p>

          <div class="tags">
            {% for tag in event.tags %}<span class="underline" data-tag="{{ tag.title }}">#{{ tag.title }}</span> {% endfor %}
          </div>
        </div>

      </div>
      <!--/.grid-item-->
      {% endfor %}

    </div>
    <!--/grid-->

  <!-- Modals List -->
  {% for event in events %}
  <div class="modal animated fadeIn" tabindex="-1" role="dialog" id="event-modal-{{ event.sys['id'] }}">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>
        <div class="modal-body">

          <div class="heading">
            <h4>{{ event.event_title }}</h4>
          </div>

          {% if event.start_time %}
          <div class="details-section time">
            <p>{{ event.start_time.strftime('%I:%M%p %A, %d %B') }}</p>

            {% if event.end_time %}<p class="hyphen">-</p><p>{{ event.end_time.strftime('%I:%M%p %A, %d %B') }}</p>{% endif %}
            <!--ref: http://addtocalendar.com-->
            <span class="addtocalendar atc-style-blue">
                <var class="atc_event">
                    <var class="atc_date_start">
                      {{ event.start_time.strftime('%Y-%m-%d %H:%M:%S') }}
                    </var>
                    <var class="atc_date_end">
                      {% if event.end_time %}
                        {{ event.end_time.strftime('%Y-%m-%d %H:%M:%S') }}
                      {% else %}
                        {{ event.start_time.strftime('%Y-%m-%d %H:%M:%S') }}
                      {% endif %}
                    </var>
                    <var class="atc_timezone">America/New_York</var>
                    <var class="atc_title">{{ event.event_title }}</var>
                    <var class="atc_description"></var>
                    <var class="atc_location">
                      {% if event.location_object %}
                        {% for loc in event.location_object %}
                          {{ loc.name }}
                        {% endfor %}
                      {% else %}
                        New York
                      {% endif %}
                    </var>
                    <var class="atc_organizer">Cornell Tech</var>
                    <var class="atc_organizer_email">events@cornell.edu</var>
                </var>
            </span>

          </div>
          {% endif %}

          {% if event.location_object %}
            {% for loc in event.location_object %}
            <div class="details-section location">
              <p>
                <span>{{ loc.room }},</span>
                {{ loc.name }}
              </p>
            </div>
            {% endfor %}
          {% endif %}

          {% if event.category %}
          <div class="details-section labels">
            <h4>{{ event.category }}</h4>
            <div class="detail-tags">
              {% for tag in event.tags %}<span class="pill {{ event.category }}">#{{ tag.title }}</span> {% endfor %}
            </div>
          </div>
          {% endif %}

          {% if event.description %}
          <div class="details-section description">
            <p>{{ event.description|e }}</p>
          </div>
          {% endif %}

        </div>

        <!--No need for now-->
        <!--
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
        -->

      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
  {% endfor %}
  <!-- /Modals List -->
{% endblock content %}
