{% extends "base.html" %}

{% block style %}
  {{ super() }}
  <link href="{{url_for('static', filename='css/next2weeks.css')}}" rel="stylesheet">
{% endblock %}

{% block navbar %}
  <div class="homepage-link"> <a href="index.html">Back to main page</a> </div>
  {{ super() }}
{% endblock %}

{% block content %}
  <div class="main-content-container">
    <div class="sidebar-spacer"> </div>
    <div class="content-list panel panel-default">
        {% for event in events %}
          <div class="single-event panel-body" data-toggle="modal" data-target="#event-modal-{{ event.sys['id'] }}">
            <div class="single-event-header">
              <div class="category-label {{ event.category }}"></div>
              <div class="single-event-header-info">
                <p>{{ event.start_time.strftime('%d %B %I:%M%p') }}</p>
                <h4> {{ event.event_title }} </h4>
              </div>
            </div> <!--/single-event-header-->
            <div class="single-event-description"> {{ event.description }}</div>
          </div> <!--/ single-event -->
        {% endfor %}
    </div> <!-- /panel-default -->
    <div class="sidebar-spacer"> </div>
  </div> <!-- /main-content-container -->
  {% include "modals.html" %}

{% endblock %}
